extends layout 

block content 
  .page_heading
    h1 Confirm deletion
  p.delete_message Are you sure you want to delete category #{category.name}?
  form(method="POST")
    button.delete_button Delete
