extends layout 

block content 
  .page_heading
    h1= title 
  form(method="POST").category_form
    label(for="name") 
      span Name:
      input(type="text" name="name" id="name" value=(category ? category.name : "") required)
    label(for="description")
      span Description: 
      textarea(name="description", id="description", rows="10", required)= category ? category.description : ""
    if validationErrors 
      each error in validationErrors
        p.delete_error= error.msg
    button Submit
