extends layout 

block content 
  h1= title 
  form(method="POST")
    label(for="name") 
      span Name:
      input(type="text" name="name" id="name" value=(category ? category.name : "") required)
    label(for="description")
      span Description: 
      textarea(name="description", id="description", rows="10")= category ? category.description : ""
    button Create
