extends layout 

block content 
  .page_heading
    h1 Items
  table.item_list 
    tr 
      th Name 
      th Description 
      th Price
      th ID
    each item in items 
      tr 
        td.table_name 
          a(href="/item/" + item.id)= item.name 
        td.table_description= item.description 
        td.price= item.price.toFixed(2) 
        td.table_id= item.id
