nav.sidebar 
  a(href="/") Inventory

  div.main_links
    a(href="/items") Items
    a(href="/categories") Categories
  div.secondary_links
    a(href="/item/create") + Add new item 
    a(href="/category/create") + Add new category
