:root {
  --bg-color: rgba(32, 32, 32, 1);
  --text-color: rgba(215, 225, 231, 1);
  --text-soft-color: rgba(168, 178, 185, 1);
  --text-strong-color: rgba(177, 177, 177, 1);
  --subtle-color: rgba(28, 38, 43, 1);
  --border-color: rgba(23, 52, 64, 1);
  --shadow-color: rgba(0, 0, 0, 1);
  --input-color: rgba(28, 28, 28, 1);
  --outline-color: rgba(53, 171, 211, 1);
  --mark-color: rgba(31, 150, 188, 0.08);
  --special-color: rgba(31, 150, 188, 1);
  --special-bg-color: rgba(19, 107, 135, 1);
  --special-text-color: rgba(215, 225, 231, 1);
  --special-shadow-color: rgba(11, 33, 42, 1);
  --special-mark-color: rgba(215, 225, 231, 0.08);
  --light-color: rgba(155, 221, 253, 1);
  --dark-color: rgba(24, 57, 70, 1);
  --error-color: rgba(245, 132, 118, 1);
  --error-dark-color: rgba(166, 62, 46, 1);
  --body-font: "Mukta", sans-serif;
  --title-font: "Zilla Slab", sans-serif;
}

/* Default body styles */

html,
body {
  height: 100%;
}

body {
  display: flex;
  font-family: var(--body-font);
  background: var(--subtle-color);
  color: var(--text-color);
}

/* Sidebar Styles */

.sidebar {
  background: var(--subtle-color);
  display: flex;
  flex-direction: column;
  position: relative;
  border-right: 1px solid var(--outline-color);
}

.sidebar > a {
  font-family: var(--title-font);
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  transition: color 0.1s ease-in;
  border-bottom: 1px solid var(--border-color);
}

.sidebar > a:hover {
  color: var(--light-color);
}

.sidebar > div {
  display: flex;
  flex-direction: column;
}

.sidebar .main_links {
  flex: 1;
}

.sidebar > div a {
  padding: 1rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: background 0.1s ease-in;
  border-bottom: 1px solid var(--border-color);
}

.sidebar > div a:hover {
  background: var(--special-bg-color);
}

.sidebar .secondary_links {
  border-top: 1px solid var(--border-color);
}

.sidebar .secondary_links a:last-child {
  border-bottom: none;
}

/* Heading styles */

h1,
h2,
h3 {
  font-family: var(--title-font);
}

h2 {
  font-size: 1.5rem;
  padding: 1rem;
  background: var(--mark-color);
  font-weight: 500;
  transition: background 0.1s ease-in;
}

h2:hover {
  background: var(--special-bg-color);
}

.overview-items > a h2 {
  border-right: 1px solid var(--border-color);
}

/* Main Page Styles */

main {
  width: 100%;
}

.overview {
  display: flex;
}

.page_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--subtle-color);
  border-bottom: 1px solid var(--border-color);
}

.page_heading h1 {
  font-size: 2rem;
  font-weight: 500;
}

.toolbox {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.toolbox a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transition: color 0.2s ease-in;
}

.toolbox a i {
  margin: 0;
}

.toolbox a:first-child:hover {
  color: var(--error-color);
}

.toolbox a:not(:first-child):hover {
  color: var(--light-color);
}

/* Table Styles */

table {
  table-layout: fixed;
  width: 100%;
}

th {
  background: var(--dark-color);
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-top: none;
  color: var(--light-color);
}

td {
  padding: 0.5rem 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid var(--border-color);
  background: var(--subtle-color);
}

td:has(a) {
  padding: 0;
}

td > a {
  display: block;
  padding: 0.5rem 1rem;
  background: var(--mark-color);
  transition: background 0.1s ease-in;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

td > a:hover {
  background: var(--special-bg-color);
}

td.price::before,
.price::before {
  content: "$";
}

td.price {
  font-weight: bold;
}

td.table_name {
  font-weight: 500;
  font-size: 1.1rem;
}

td.table_description,
td.price,
td.table_id {
  color: var(--text-soft-color);
}

td.table_id {
  font-size: 0.8rem;
  font-style: italic;
}

/* Item detail */

.item_container {
  display: flex;
  background: var(--subtle-color);
}

.detail_container {
  flex: 3;
}

.item_container section.display {
  flex: 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.item_container section.display img {
  width: 400px;
  border-radius: 3px;
}

.category_container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.category_container > a {
  background: var(--dark-color);
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

.category_container > a:hover {
  background: var(--special-bg-color);
}

.blurb {
  line-height: 2;
  padding: 1rem;
}

.item_container .price {
  font-size: 3rem;
  font-weight: bold;
  color: var(--light-color);
  font-family: var(--title-font);
  text-align: right;
  padding: 2rem;
}

/* Category detail */

.description {
  padding: 1rem;
  font-weight: 500;
  color: var(--text-strong-color);
  font-size: 1.2rem;
  background: var(--subtle-color);
}

.description p {
  max-width: 768px;
}

p.delete_error {
  padding: 1rem;
  color: var(--error-color);
}

/* Item create */

.form-container {
  display: flex;
}

form:not(.image_upload) {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

label {
  display: flex;
  align-items: center;
}

label span {
  cursor: default;
}

label span:not(:is(fieldset label span)) {
  min-width: 120px;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-container input[type="checkbox"] {
  all: revert;
}

input[type="text"],
textarea {
  background: var(--input-color);
  outline: 1px solid var(--border-color);
  padding: 0.5rem 1rem;
  transition: outline 0.1s ease-in;
}

input[type="text"]:focus,
textarea:focus {
  outline: 1px solid var(--outline-color);
}

textarea {
  flex: 1;
}

.form-container fieldset {
  display: grid;
  grid-template-columns: auto auto auto;
}

.image_upload {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 400px;
  padding: 2rem;
  gap: 1rem;
}

.image_upload img {
  aspect-ratio: 5 / 6;
  object-fit: contain;
  flex: 1;
}

form button {
  font-size: 1.3rem;
  background: var(--dark-color);
  align-self: center;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  transition: background 0.1s ease-in;
  cursor: pointer;
}

form button:hover {
  background: var(--special-bg-color);
}

form button.delete_button {
  background: var(--error-dark-color);
  margin: 2rem;
}

form button.delete_button:hover {
  background: var(--error-color);
}

p.delete_message {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

/* Category Create */

.category_form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

.category_form input {
  flex: 1;
}

/* CSS Icons */

.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
}
.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}
.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}

.gg-edit-markup {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 22px;
  overflow: hidden;
  perspective: 20px;
}
.gg-edit-markup::after,
.gg-edit-markup::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}
.gg-edit-markup::before {
  width: 0;
  height: 6px;
  border-bottom: 6px solid;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  bottom: 9px;
  left: 6px;
}
.gg-edit-markup::after {
  width: 10px;
  height: 12px;
  border: 2px solid;
  border-top: 4px solid;
  border-bottom: 0;
  bottom: 0;
  left: 4px;
  transform: rotateX(60deg);
}
