/* html * { */
/*   border: 1px solid red; */
/* } */

body {
  display: flex;
  font-family: sans-serif;
  min-height: 100vh;
}

main {
  flex: 8;
  padding: 0 1rem;
}

nav {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar {
  border-right: 1px solid lightgray;
}

h1 {
  font-size: 2rem;
  padding: 1rem;
}

main h2 {
  background: #333;
  color: white;
  border: 1px solid lightgray;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem;
}

.overview {
  display: flex;
}

.overview > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: start;
}

th {
  font-weight: bold;
  background: #eee;
}

th,
td {
  padding: 0.5rem 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 0px;
  border: 1px solid lightgray;
}

td:has(a) {
  padding: 0;
}

td > a {
  display: block;
  padding: 0.5rem 1rem;
}

.price::before {
  content: "$";
}

nav.sidebar > a {
  padding: 1rem;
}

nav.sidebar :first-child {
  font-size: 2rem;
  font-weight: bold;
}

table {
  table-layout: fixed;
  width: 100%;
}

.item_container {
  display: flex;
  gap: 2rem;
}

.item_container :first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 260px;
}

p.price {
  text-align: right;
  padding: 1rem;
  font-size: 2rem;
}

div.category_container {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  max-width: 260px;
  font-style: italic;
  gap: 0 0.3rem;
  text-decoration: underline;
}

div.category_container a {
  transition: color 0.1s ease-in-out;
}

div.category_container a:hover {
  color: darkslategray;
}

div.category_container a:not(:last-child):after {
  content: ",";
}

p.blurb {
  max-width: 450px;
  min-width: 450px;
  line-height: 1.5;
  padding: 1rem;
}

.form-container {
  display: flex;
  gap: 1rem;
}

.image_upload {
  background: blue;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 450px;
}

form label:not(fieldset > label) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

form input:not(input[type="checkbox"]),
form textarea {
  border: 1px solid lightgray;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  flex: 3;
}

form span {
  flex: 1;
}

form input:focus {
  box-shadow: 0 0 6px lightblue;
}

form textarea:focus {
  box-shadow: 0 0 6px lightblue;
}

form button {
  background: #333;
  color: white;
  padding: 1rem;
  border-radius: 3px;
  align-self: center;
}

input[type="checkbox"] {
  all: revert;
}

form fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

fieldset label {
  display: flex;
  gap: 0.5rem;
}

fieldset span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 120px;
}
